<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point id="nz.ac.massey.cs.barrio.nodeFilter" name="nodeFilter" schema="schema/nz.ac.massey.cs.barrio.nodeFilter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.edgeFilter" name="Edge Filter" schema="schema/nz.ac.massey.cs.barrio.edgeFilter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.clusterer" name="Clusterer" schema="schema/nz.ac.massey.cs.barrio.clusterer.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.exporter" name="Exporter" schema="schema/nz.ac.massey.cs.barrio.expoter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.inputReader" name="Input Reader" schema="schema/nz.ac.massey.cs.barrio.inputReader.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.srcReader" name="Source Code Reader" schema="schema/nz.ac.massey.cs.barrio.srcReader.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.classifier" name="Classifier" schema="schema/nz.ac.massey.barrio.classifier.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.graphManager" name="Graph Manager" schema="schema/nz.ac.massey.cs.barrio.graphManager.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.motifFinder" name="MotifFinder" schema="schema/nz.ac.massey.cs.barrio.motifFinder.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="barrio.actionSet1"
            label="action set"
            visible="true">
         <menu
               id="barrio.topMenu"
               label="Barrio"
               path="additions">
            <groupMarker
                  name="barrio.content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="barrio.actions1">
            </groupMarker>
            <groupMarker
                  name="barrio.actions2">
            </groupMarker>
            <groupMarker
                  name="barrio.actions3">
            </groupMarker>
            <separator
                  name="barrio.separator1">
            </separator>
            <groupMarker
                  name="barrio.actionExportResults">
            </groupMarker>
         </menu>
         <action
               class="nz.ac.massey.cs.barrio.actions.ActionRun"
               icon="menuIcons/releng_gears.gif"
               id="barrio.action1"
               label="Open Barrio Perspective"
               menubarPath="barrio.topMenu/barrio.content">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.ImportAction"
               icon="menuIcons/import.gif"
               id="barrio.action2"
               label="Import Graph and Analyse"
               menubarPath="barrio.topMenu/barrio.actions1">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.SrcCodeReadAction"
               icon="menuIcons/sample.gif"
               id="barrio.action3"
               label="Analyse Project Sources"
               menubarPath="barrio.topMenu/barrio.actions2"
               tooltip="Extract dependency graph from selected Java project">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.ExportAction"
               icon="menuIcons/export.gif"
               id="barrio.action4"
               label="Extract and Export Graph"
               menubarPath="barrio.topMenu/barrio.actions3">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.ExportResultsAction"
               icon="menuIcons/export.gif"
               id="barrio.exportResultsAction"
               label="Export Results"
               menubarPath="barrio.topMenu/barrio.actionExportResults"
               tooltip="Export produced output to xml file">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="nz.ac.massey.cs.barrio.perspectives.PerspectiveBarrio"
            icon="menuIcons/releng_gears.gif"
            id="nz.ac.massey.cs.barrio.perspectives.GuiPerspective"
            name="Cluster Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="barrio.view"
            name="view">
      </category>
      <view
            class="nz.ac.massey.cs.barrio.views.InputView"
            id="nz.ac.massey.cs.barrio.views.InputView"
            name="Input">
      </view>
      <view
            category="Cluster Analyser"
            class="nz.ac.massey.cs.barrio.views.OutputView"
            id="nz.ac.massey.cs.barrio.views.OutputView"
            name="Output">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="nz.ac.massey.cs.barrio.views.ViewBarrio"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nz.ac.massey.cs.barrio.preferences.BarrioPreferencePage"
            id="nz.ac.massey.cs.barrio.preferences.BarrioPreferencePage"
            name="Barrio">
      </page>
      <page
            category="nz.ac.massey.cs.barrio.preferences.BarrioPreferencePage"
            class="nz.ac.massey.cs.barrio.preferences.BarrioPreferenceRulesPage"
            id="barrio.rulesPage"
            name="Rules">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="nz.ac.massey.cs.barrio.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="nz.ac.massey.cs.barrio.viewActions"
            targetID="nz.ac.massey.cs.barrio.views.OutputView">
         <action
               class="nz.ac.massey.cs.barrio.actions.SingletonAction"
               id="nz.ac.massey.cs.barrio.singletonAction"
               label="Hide/Show singletons"
               style="toggle"
               toolbarPath="Additions"
               tooltip="Hide/show singleton clusters">
         </action>
      </viewContribution>
   </extension>

</plugin>
