<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point id="nz.ac.massey.cs.barrio.nodeFilter" name="nodeFilter" schema="schema/nz.ac.massey.cs.barrio.nodeFilter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.edgeFilter" name="Edge Filter" schema="schema/nz.ac.massey.cs.barrio.edgeFilter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.clusterer" name="Clusterer" schema="schema/nz.ac.massey.cs.barrio.clusterer.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.exporter" name="Exporter" schema="schema/nz.ac.massey.cs.barrio.expoter.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.inputReader" name="Input Reader" schema="schema/nz.ac.massey.cs.barrio.inputReader.exsd"/>
   <extension-point id="nz.ac.massey.cs.barrio.srcReader" name="Source Code Reader" schema="schema/nz.ac.massey.cs.barrio.srcReader.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="barrio.actionSet1"
            label="action set"
            visible="true">
         <menu
               id="barrio.topMenu"
               label="Barrio"
               path="additions">
            <groupMarker
                  name="barrio.content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="barrio.actions1">
            </groupMarker>
            <groupMarker
                  name="barrio.actions2">
            </groupMarker>
            <groupMarker
                  name="barrio.actions3">
            </groupMarker>
         </menu>
         <action
               class="nz.ac.massey.cs.barrio.actions.ActionRun"
               icon="icons/releng_gears.gif"
               id="barrio.action1"
               label="Open Barrio Perspective"
               menubarPath="barrio.topMenu/barrio.content">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.ImportAction"
               icon="icons/import.gif"
               id="barrio.action2"
               label="Import Graph and Analyse"
               menubarPath="barrio.topMenu/barrio.actions1">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.SrcCodeReadAction"
               icon="icons/sample.gif"
               id="barrio.action3"
               label="Analyse Project Sources"
               menubarPath="barrio.topMenu/barrio.actions2"
               tooltip="Extract dependency graph from selected Java project">
         </action>
         <action
               class="nz.ac.massey.cs.barrio.actions.ExportAction"
               icon="icons/export.gif"
               id="barrio.action4"
               label="Extract and Export Graph"
               menubarPath="barrio.topMenu/barrio.actions3">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="nz.ac.massey.cs.barrio.perspectives.PerspectiveBarrio"
            icon="icons/releng_gears.gif"
            id="nz.ac.massey.cs.barrio.perspectives.GuiPerspective"
            name="Cluster Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="barrio.view"
            name="view">
      </category>
      <view
            class="nz.ac.massey.cs.barrio.views.InputView"
            id="nz.ac.massey.cs.barrio.views.InputView"
            name="Input">
      </view>
      <view
            category="Cluster Analyser"
            class="nz.ac.massey.cs.barrio.views.OutputView"
            id="nz.ac.massey.cs.barrio.views.OutputView"
            name="Output">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="nz.ac.massey.cs.barrio.views.ViewBarrio"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
