<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="barrio.exceptionFilter"
         name="Exception Filter"
         point="nz.ac.massey.cs.barrio.nodeFilter">
         <implementations
               nodeFilterClass="nz.ac.massey.cs.barrio.exceptionFilter.ExceptionFilter"/>
   </extension>

</plugin>
