<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="nz.ac.massey.cs.barrio.xmlExporter"
         name="Barrio XML Exporter"
         point="nz.ac.massey.cs.barrio.exporter">
         <implementations
               exporterClass="nz.ac.massey.cs.barrio.xmlExporter.XmlExporter"/>
   </extension>

</plugin>
