<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="nz.ac.massey.cs.barrio.graphManager"
         name="Cluster Graph Manager"
         point="nz.ac.massey.cs.barrio.graphManager">
         <implementations
               graphManagerClass="nz.ac.massey.cs.barrio.graphManager.Manager"/>
   </extension>

</plugin>
